$blue:#519eff;
$light-blue:#3A71A8;
$red:#ff3b52;
$pink: #E65D6E;
$green: #2edb67;
$tiffany: #4AB7BD;
$yellow:#FEC171;
$panGreen: #30B08F;
$deepBlue:#283345;
//sidebar
$menuBg:#304156;
$subMenuBg:#1f2d3d;
$menuHover:#001528;

//自定义颜色
$elbule:#409eff;
$elwhite:#fff;
$elgreen:#68bfbc;
